.language-julia{
	background-color: whitesmoke;
}
.repl-code{
	color:green;
}
.repl-help{
	color: lightyellow;
}
.repl-pkg{
	color: blue;
}
.repl-shell{
	color: red;
}
.repl-error{
	color: red;
}
.comment{
	color:darkolivegreen;
}
.string{
	color: brown;
}
.keyword{
	color:purple;
}
.special{
	color: blue;
}
.escape{
	color:goldenrod;
}
.insert{
	color: blue;
}
.regex{
	color: darkred;
}
.plain{
	color: wheat
}
.macro{
	color: gold;
}
.function{
	color: yellow;
}
.number{
	color: yellowgreen;
}
