.language-julia{
	background-color: whitesmoke;
	font-family: 'Courier New', Courier, monospace;
}
.repl-code{
	color:green;
}
.repl-help{
	color: wheat;
}
.repl-pkg{
	color: rgb(16,64,224);
}
.repl-shell{
	color: red;
}
.repl-error{
	color: red;
}
.comment{
	color:darkolivegreen;
}
.string{
	color: brown;
}
.keyword{
	color:purple;
}
.special{
	color: royalblue;
}
.escape{
	color: goldenrod;
}
.insert{
	color: skyblue;
}
.plain{
	color: darkgray;
}
.macro{
	color: gold;
}
.function{
	color: darkgoldenrod;
}
.number{
	color: yellowgreen;
}
.type{
	color:forestgreen;
}
